:root {
  --primary: #857e61ff;
  --secondary: #b7a196ff;
  --light: #ddc3d0ff;
  --bright: #dbdaeaff;
  --shimmer: #dbfcffff;
}


body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wireframe {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.grid-layout {
  min-block-size: 100vb;

  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto 0 1fr 0 auto;

  grid-template-areas: 
    "header"
    "left"
    "main"
    "right"
    "footer";
  
  @media (width > 800px) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "left main right"
      "footer footer footer";
  }
}

.grid-layout > * {
  padding: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 5rem;
  animation: rotate 1s linear infinite;
}

.content .label {
  font-size: 1.3rem;
  color: var(--primary);
  font-weight: bold;
}

.content p {
  letter-spacing: normal;
  text-decoration: initial;
}

@keyframes rotate{
  0% {
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.title {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.primary-navigation ul {
  display: none;
  list-style: none;
  gap: 2rem;

  @media (width > 800px) {
    display: flex;
  }
}

.primary-navigation a {
  color: var(--shimmer);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.primary-navigation a:hover, a:focus-visible {
  color: var(--secondary);
}

.primary-navigation li:not(:last-child):after {
  content: '|';
  margin-left: 1.5rem;
  color: var(--secondary);
}

.hamburger {
  font-size: 3rem;
  @media (width > 800px) {
    display: none;
  }
}

input[type="text"],
input[type="checkbox"] {
  font-size: 1.5rem;
}

.contact {
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (width > 800px) {
    grid-template-columns: 1fr 1fr;
  }

  button {
    background-color: var(--shimmer);
    color: var(--primary);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }

  .form-group:has(#permission) {
    grid-column: 1 / -1;
  }
  
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-transform: uppercase;
  color: var(--shimmer);
}

/* VISUALISATIONS */

header {
  grid-area: header;
  background-color: var(--primary);
  color: var(--bright);
}

.left-side {
  grid-area: left;
  background-color: var(--shimmer);
  color: var(--primary);
}

main {
  grid-area: main;
  background-color: #fff;
}

.right-side {
  grid-area: right;
  background-color: var(--shimmer);
  color: var(--primary);
}

footer {
  grid-area: footer;
  background-color: var(--primary);
  color: var(--bright);
}