:root {
  --alabaster-grey: #e0e0e2ff;
  --pearl-aqua: #81d2c7ff;
  --pale-slate: #b5bad0ff;
  --glaucous: #7389aeff;
  --baltic-blue: #416788ff;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--pearl-aqua);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

h1 {
  text-align: center;
}

section {
}

.wrapper {
  padding: 2em;
}

.primary-navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1em;
}

.primary-navigation a {
  color: var(--baltic-blue);
}

.logo {
  font-size: 5rem;
  color: var(--glaucous);
}

.musical-symbol {
  color: var(--baltic-blue);
  font-size: 1.5em;
  letter-spacing: -0.3em;
  word-spacing: -0.3em;
}

.two-column-layout {
  @media (width > 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.section-one {
  background-color: var(--glaucous);
}

.section-two {
  background-color: var(--pale-slate);
}

.section-three {
  background-color: var(--alabaster-grey)
}

.footer {
  background-color: var(--pearl-aqua);
}

.section-three img {
  min-width: 200px;
  max-width: 500px;
  object-fit: contain;
}