input[type="text"],
input[type="checkbox"],
button[type="submit"] {
  font-size: 1.5rem;
  font-family: inherit;
  border: 1px solid var(--shimmer);
}

.contact {
  padding: 0 2rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 1rem;

  button {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.5rem;
    grid-column: 1 / -1;
    padding: .5rem 0;
    font-family: inherit;
    text-transform: uppercase;
  }

  .form-group:has(#permission) {
    grid-column: 1 / -1;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-transform: uppercase;
  color: var(--shimmer);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-between;
  gap: 3em;

  @media (width > 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.artist {
  display: flex;
  flex-direction: column;
  /* border: 2px dashed red; */

  & label {
    position: absolute;
  }

  & .artwork {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .name {
    font-size: 1rem;
    color: var(--primary);

    & a {
      color: inherit;
    }
  }

  & .date {
    font-size: .75 rem;
    color: var(--shimmer);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.preview {
  padding: 2rem;
  background-color: var(--light);
  display: grid;
  grid-template-columns: 1fr;

  @media (width > 800px) {
    grid-template-columns: 1fr 1fr;
  }
}