.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-between;
  gap: 3em;

  @media (width > 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.artist {
  display: flex;
  flex-direction: column;

  & label {
    position: absolute;
  }

  & .type {
    text-transform: uppercase;
  }

  & .name {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .artist {
    font-size: 1rem;
    color: var(--primary);

    & a {
      color: inherit;
    }
  }

  & .date {
    font-size: .75 rem;
    color: var(--shimmer);
  }

  & .price {
    font-size: 1.3rem;
  }
}