@keyframes slide-in-a {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(10vw);
  }

  50% {
    transform: translateX(0vw);
  }

  60% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(-5vw);
  }

  100% {
    transform: translateX(-5vw);
  }
}

@keyframes slide-in-ual {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(10vw);
  }

  50% {
    transform: translateX(0vw);
  }

  60% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(-1em);
  }

  100% {
    transform: translateX(-1em);
  }
}

@keyframes slide-in-rt {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(10vw, 0);
  }

  50% {
    transform: translate(10vw, -1em);
  }

  60% {
    transform: translate(48vw, -1em);
  }

  70% {
    transform: translate(48vw, 0);
  }

  100% {
    transform: translate(48vw, 0rem);
  }
}

@keyframes slide-in-s {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, -1em);
  }

  40% {
    transform: translate(-54vw, -1em);
  }

  50% {
    transform: translate(-54vw, 0);
  }

  100% {
    transform: translate(-54vw, 0);
  }
}

.title span {
  display: inline-block;
  animation: ease-in-out 6s forwards alternate infinite;
}

.title span:nth-child(3),
.title span:nth-child(4) {
  animation-name: slide-in-rt;
}

.title span:nth-child(5),
.title span:nth-child(6),
.title span:nth-child(7) {
  animation-name: slide-in-ual;
}

.title span:nth-child(8) {
  animation-name: slide-in-a;
}

.title span:nth-child(9) {
  animation-name: slide-in-s;
}

.intro {
  background-image:
    url('images/Silas-solo.png'),
    linear-gradient(70deg, var(--light), var(--primary));
  background-size: cover, cover;
  background-blend-mode: color-burn, normal;

  height: 19rem;
  overflow: hidden;

  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & .title {
    place-items: center;
    text-shadow:
      -1px -1px 0 var(--shimmer),
      1px -1px 0 var(--shimmer),
      -1px 1px 0 var(--shimmer),
      1px 1px 0 var(--shimmer),
      0 0 1rem var(--bright);

    color: var(--bright);
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
  }

  & .subtitle {
    text-align: center;
    color: var(--bright);
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow:
      -1px -1px 0 var(--shimmer),
      1px -1px 0 var(--shimmer),
      -1px 1px 0 var(--shimmer),
      1px 1px 0 var(--shimmer),
      0 0 1rem var(--bright);
  }
}

.testimonials {
  background-color: #eee;

  & ul {
    list-style: none;
  }

  & li {
    padding-bottom: 1rem;
    color: var(--shimmer);
    padding: 2rem 0;
    display: grid;
    grid-auto-flow: row;
  }

  & .person,
  & .date {
    justify-self: end;
  }

  & .person {
    color: var(--primary);
    font-weight: bold;
  }

  & q:before,
  & q:after {
    font-style: italic;
    font-size: 2rem;
    color: var(--primary);
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.artists {
  display: flex;
  justify-content: center;
  gap: 4rem;

  & .artist {
    display: flex;
    flex-direction: column;
    width: 10rem;
    aspect-ratio: 1;

    font-size: 1rem;
    color: var(--primary);

    & img {
      width: 100%;
      object-fit: cover;
      filter: greyscale();
      transition: filter;

      &:hover,
      &:focus-visible {
        filter: none;
      }
    }

    & .name {
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}