:root {
    --primary: #777;
    --secondary: #aaa;
    --light: #eee;
    --bright: #fff;
    --shimmer: #999;
}

body {
    font-family: 'Geologica', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wireframe {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.25rem;
    display: flex;
    gap: 1rem;
}

.wireframe-header {
    width: 50%;
    background-color: var(--shimmer);
    text-align: center;
    padding: 1rem 0;
}

.grid-layout {
    min-block-size: 100vb;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 200px;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

.grid-layout>* {
    padding: 1rem 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* VISUALISATIONS */

header {
    grid-area: header;
    background-color: var(--primary);
    color: var(--bright);
}

main {
    grid-area: main;
    background-color: #fff;
}

footer {
    grid-area: footer;
    background-color: var(--primary);
    color: var(--bright);
}

section {
    padding: 3rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: space-between;
    gap: 3em;

    @media (width > 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.artist {
    display: flex;
    flex-direction: column;
    /* border: 2px dashed red; */

    & img {
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--secondary);
        object-fit: cover;
    }

    & label {
        position: absolute;
    }

    & .type {
        text-transform: uppercase;
    }

    & .name {
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    & .artist {
        font-size: 1rem;
        color: var(--primary);
        & a {
            color: inherit;
        }
    }

    & .date {
        font-size: .75 rem;
        color: var(--shimmer);
    }

    & .price {
        font-size: 1.3rem;
    }
}