.grid-layout {
  min-block-size: 100vb;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

.grid-layout>* {
  padding: 1rem 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-between;
  gap: 3em;

  @media (width > 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.artist {
  display: flex;
  flex-direction: column;

  & label {
    position: absolute;
  }

  & .type {
    text-transform: uppercase;
  }

  & .name {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .artist {
    font-size: 1rem;
    color: var(--primary);

    & a {
      color: inherit;
    }
  }

  & .date {
    font-size: .75 rem;
    color: var(--shimmer);
  }

  & .price {
    font-size: 1.3rem;
  }
}