.grid-layout {
  min-block-size: 100vb;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

.grid-layout>* {
  padding: 1rem 5rem;
}

@keyframes slide-in-a {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10vw);
  }
  50% {
    transform: translateX(0vw);
  }
  60% {
    transform: translateX(0);
  }
  70% {
    transform: translateX(-5vw);
  }

  100% {
    transform: translateX(-5vw);
  }
}

@keyframes slide-in-ual {
  0% { 
    transform: translateX(0);
  }

  30% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10vw);
  }
  50% {
    transform: translateX(0vw);
  }

  60% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(-1em);
  }

  100% {
    transform: translateX(-1em);
  }
}

@keyframes slide-in-rt {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(10vw, 0);
  }

  50% {
    transform: translate(10vw, -1em);
  }

  60% {
    transform: translate(48vw, -1em);
  }

  70% {
    transform: translate(48vw, 0);
  }

  100% {
    transform: translate(48vw, 0rem);
  }
}

@keyframes slide-in-s {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(0, -1em);
  }

  40% {
    transform: translate(-54vw, -1em);
  }

  50% {
    transform: translate(-54vw, 0);
  }

  100% {
    transform: translate(-54vw, 0);
  }
}

.title span {
  display: inline-block;
}

.title span:nth-child(3), 
.title span:nth-child(4) {
  animation: slide-in-rt ease-in-out 6s forwards alternate infinite;
}

.title span:nth-child(5),
.title span:nth-child(6),
.title span:nth-child(7) {
  animation: slide-in-ual ease-in-out 6s forwards alternate infinite;
}

.title span:nth-child(8) {
  animation: slide-in-a ease-in-out 6s forwards alternate infinite;
}

.title span:nth-child(9) {
  animation: slide-in-s ease-in-out 6s forwards alternate infinite;
}

.intro {
  background-image:
    url('images/Silas-solo.png'),
    linear-gradient(70deg, var(--light), var(--primary));
  background-size: cover, cover;
  background-blend-mode: color-burn, normal;

  height: 19rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & .title {
    /* display: none; */
    place-items: center;
    text-shadow:
      -1px -1px 0 var(--shimmer),
      1px -1px 0 var(--shimmer),
      -1px 1px 0 var(--shimmer),
      1px 1px 0 var(--shimmer),
      0 0 1rem var(--bright);

    color: var(--bright);
    font-size: max(3rem, 10vw);
    text-transform: uppercase;
    text-align: center;
  }

  & .subtitle {
    /* display: none; */
    text-align: center;
    color: var(--bright);
    font-size: max(1rem, 3vw);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: -1rem;
    text-shadow:
      -1px -1px 0 var(--shimmer),
      1px -1px 0 var(--shimmer),
      -1px 1px 0 var(--shimmer),
      1px 1px 0 var(--shimmer),
      0 0 1rem var(--bright);
  }

  & img {
    /* filter: blur(0.5rem); */
    mix-blend-mode: multiply;
    width: 150%;
  }
}

.testimonials {
  background-color: #eee;

  & ul {
    list-style: none;
  }

  & li {
    padding-bottom: 1rem;
    color: var(--shimmer);
    padding: 2rem 0;
    display: grid;
    grid-auto-flow: row;

    & .person,
    & .date {
      justify-self: end;
    }

    & .person {
      color: var(--primary);
      font-weight: bold;
    }

    & q:before,
    & q:after {
      font-style: italic;
      font-size: 2rem;
      color: var(--primary);
    }
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.artists {
  display: flex;
  justify-content: center;
  gap: 4rem;

  & .artist {
    display: flex;
    flex-direction: column;

    font-size: 1rem;
    color: var(--primary);

    & .name {
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}